//sidebar
$menuBg: #304156;
$subMenuBg: #1f2d3d;
$menuHover: #001528;

// 文字主题色
$colorBrand: #409EFF;
$colorSuccess: #67C23A;
$colorWarning: #E6A23C;
$colorDanger: #F56C6C;
$colorInfo: #909399;

// 中性色
$colorMain: #303133;
$colorConvention: #606266;
$colorSecond: #909399;
$colorSeat: #C0C4CC;

$colorMainBorder: #DCDFE6;
$colorConventionBorder: #E4E7ED;
$colorSecondBorder: #EBEEF5;
$colorSeatBorder: #F2F6FC;

$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorTransparent: transparent;
